APP_VERSION=0.1.0
NODE_ENV=development

PORT=3100
HOST=0.0.0.0
APP_NAME="Solvyst Atlas"

# -------------------
# REDIS
# -------------------
REDIS_ENABLED=false
REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_URL=redis://127.0.0.1:6379
REDIS_TLS=false

# -------------------
# CORS
# -------------------
WEB_URL=http://localhost:3000
CORS_ORIGINS=*

# -------------------
# ATLAS API
# -------------------
ATLAS_API_KEY="replace-with-at-least-32-random-characters"
META_RATE_LIMIT_MAX=120
META_RATE_LIMIT_WINDOW_MS=60000
