APP_VERSION=0.1.0
NODE_ENV=development

PORT=3100
HOST=0.0.0.0
APP_NAME=Atlaskit

# -------------------
# DATABASE
# -------------------
DATABASE_URI=""

# -------------------
# REDIS
# -------------------
REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_URL=redis://127.0.0.1:6379
REDIS_TLS=true

# -------------------
# CORS
# -------------------
WEB_URL=http://localhost:3000
ATLASKIT_API_URL=http://localhost:5000

# -------------------
# META API
# -------------------
META_API_KEY=""
META_RATE_LIMIT_MAX=120
META_RATE_LIMIT_WINDOW_MS=60000
